.App {
  text-align: center;
  margin: 5% 15%;
  width: 70%;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #ededf4;
  padding: 10px;
}

h2 {
  margin-top: 40px;
}
